In [13]:
import pandas as pd

In [14]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [15]:
test.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew
0,3001,"[{'id': 34055, 'name': 'Pokémon Collection', '...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.pokemon.com/us/movies/movie-pokemon...,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,...,"[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",7/14/07,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de..."
1,3002,NaN,88000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/19/58,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'credit_id': '55807805c3a3685b1300060b', 'de..."
2,3003,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/23/97,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'credit_id': '52fe4330c3a36847f8041367', 'de..."
3,3004,NaN,6800000,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",http://www.sonyclassics.com/incendies/,tt1255953,fr,Incendies,A mother's last wishes send twins Jeanne and S...,8.596012,...,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",9/4/10,130.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,The search began at the opening of their mothe...,Incendies,"[{'id': 378, 'name': 'prison'}, {'id': 539, 'n...","[{'cast_id': 6, 'character': 'Nawal', 'credit_...","[{'credit_id': '56478092c3a36826140043af', 'de..."
4,3005,NaN,2000000,"[{'id': 36, 'name': 'History'}, {'id': 99, 'na...",NaN,tt0418753,en,Inside Deep Throat,"In 1972, a seemingly typical shoestring budget...",3.217680,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/11/05,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was filmed in 6 days for 25 thousand dollar...,Inside Deep Throat,"[{'id': 279, 'name': 'usa'}, {'id': 1228, 'nam...","[{'cast_id': 1, 'character': 'Narrator (voice)...","[{'credit_id': '52fe44ce9251416c75041967', 'de..."

In [16]:
import pandas as pd

# Load train.csv
train = pd.read_csv('train.csv')

# Select relevant columns for training
selected_columns = ['budget', 'revenue']
train_data = train[selected_columns].dropna()

# Define a simple mean squared error function
def mean_squared_error(y):
    mean_value = y.mean()
    mse = ((y - mean_value) ** 2).mean()
    return mse

# Define a function to recursively construct a decision tree
def decision_tree_regression(X, y):
    # If all target values are the same, return a leaf node with the mean value
    if y.nunique() == 1:
        return {'value': y.mean()}

    # If all features are the same, return a leaf node with the mean value
    if X.drop_duplicates().shape[0] == 1:
        return {'value': y.mean()}

    # Find the best feature and threshold to split the data
    best_feature, best_threshold = find_best_split(X, y)

    # Split the data based on the best feature and threshold
    left_mask = X[best_feature] <= best_threshold
    right_mask = ~left_mask

    # Recursively build the left and right subtrees
    left_tree = decision_tree_regression(X[left_mask], y[left_mask])
    right_tree = decision_tree_regression(X[right_mask], y[right_mask])

    # Return the decision tree node
    return {'feature': best_feature, 'threshold': best_threshold, 'left': left_tree, 'right': right_tree}

# Define a function to find the best split for a given feature
def find_best_split(X, y):
    best_feature = None
    best_threshold = None
    best_mse = float('inf')

    # Loop through each unique value of each feature
    for feature in X.columns:
        for threshold in X[feature].unique():
            left_mask = X[feature] <= threshold
            right_mask = ~left_mask

            left_mse = mean_squared_error(y[left_mask])
            right_mse = mean_squared_error(y[right_mask])

            total_mse = left_mse + right_mse

            # Update best split if the current split is better
            if total_mse < best_mse:
                best_mse = total_mse
                best_feature = feature
                best_threshold = threshold

    return best_feature, best_threshold

# Define a function to make predictions using the decision tree
def predict(tree, X):
    if 'value' in tree:  # Leaf node
        return tree['value']

    if X[tree['feature']] <= tree['threshold']:
        return predict(tree['left'], X)
    else:
        return predict(tree['right'], X)

# Train the decision tree
X_train = train_data[['budget']]
y_train = train_data['revenue']
tree = decision_tree_regression(X_train, y_train)

# Apply the decision tree to the test.csv data
test = pd.read_csv('test.csv')
test['predicted_revenue'] = test.apply(lambda row: predict(tree, row), axis=1)

# Print the first few rows of the test data with predicted revenue
print(test[['id', 'budget', 'predicted_revenue']])

        id    budget  predicted_revenue
0     3001         0       1.218701e+07
1     3002     88000       5.000000e+06
2     3003         0       1.218701e+07
3     3004   6800000       1.070323e+07
4     3005   2000000       9.285284e+06
...    ...       ...                ...
4393  7394  42000000       1.230191e+08
4394  7395  19000000       6.778309e+07
4395  7396  16000000       3.366959e+07
4396  7397   2000000       9.285284e+06
4397  7398     64000       4.164980e+05

[4398 rows x 3 columns]